body {
    background: #f7efdf;
    font-family: sans-serif;
}
input {
    display: inline;
    width: 30px;
}
p {
    display: inline;
}
div.command {
    border: 5px solid white;
    border-radius: 12px;
    background: #fffbf3;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}
div.command pre {
    margin: 0px;
}
div.command ul {
    padding: 0px;
}
div.command li {
    padding-left: 40px;
    list-style: none;
    margin: 0;
}
div#header {
    margin: 15px;
    padding: 5px;
    background-color: #3f3f3f;
    border: #0f0f0f solid 5px;
    border-radius: 7px;
    color: #fff;
}
h3 {
    margin-left: 15px;
}
div#head-left {
    width: 50%;
    height: 40px;
    left: 0px;
    display: inline-block;
    vertical-align: middle;
}
div#head-right {
    width: 50%;
    height: 40px;
    max-height: 40px;
    right: 0px;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    overflow-y: auto;
}
div#head-right p, div#head-right a {
    line-height: 40px;
}
div#head-right a:link {
    color: #1fdfef
}
div#head-right a:visited {
    color: #ef1fdf
}
div#head-right a:hover {
    color: #3feff7
}
div#head-right a:active {
    color: #ef1f1f
}
div#header h1 {
    margin: 0px;
}
li.input_int {
    background: url("input_types/inputInt.png") no-repeat 0px 0px;
}
li.input_float {
    background: url("input_types/inputFloat.png") no-repeat 0px 0px;
}
li.input_str {
    background: url("input_types/inputStr.png") no-repeat 0px 0px;
}
li.input_bool {
    background: url("input_types/inputBool.png") no-repeat 0px 0px;
}
li.input_b64 {
    background: url("input_types/inputB64.png") no-repeat 0px 0px;
}
li.input_img {
    background: url("input_types/inputImg.png") no-repeat 0px 0px;
}
li.input_fn {
    background: url("input_types/inputFilename.png") no-repeat 0px 0px;
}
li.input_vary {
    background: url("input_types/inputVaries.png") no-repeat 0px 0px;
}
.command .command {
    background: #f7efdf;
}