body {
    background: #f7efdf;
    font-family: sans-serif;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
}
p {
    display: inline;
}
div.command {
    border: 5px solid white;
    border-radius: 12px;
    background: #fffbf3;
    padding: 5px;
    margin-bottom: 15px;
}
div.command pre {
    margin: 0px;
}
div.command ul {
    padding: 0px;
}
div.command li {
    padding-left: 40px;
    list-style: none;
    margin: 0;
    height: 20px;
}
div#header {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
    background-color: #3f3f3f;
    border: #0f0f0f solid 5px;
    border-radius: 7px;
    color: #fff;
}
div#head-left {
    width: 50%;
    height: 40px;
    left: 0px;
    display: inline-block;
    vertical-align: middle;
}
div#head-right {
    width: 50%;
    height: 40px;
    max-height: 40px;
    right: 0px;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    overflow-y: auto;
}
div#head-right p, div#head-right a {
    line-height: 40px;
}
div#head-right a:link {
    color: #1fdfef
}
div#head-right a:visited {
    color: #ef1fdf
}
div#head-right a:hover {
    color: #3feff7
}
div#head-right a:active {
    color: #ef1f1f
}
div#header h1 {
    margin: 0px;
}
li.input_int {
    background: url("input_types.png") no-repeat 0px 0px;
}
li.input_float {
    background: url("input_types.png") no-repeat 0px -20px;
}
li.input_str {
    background: url("input_types.png") no-repeat 0px -40px;
}
li.input_bool {
    background: url("input_types.png") no-repeat 0px -60px;
}
li.input_b64 {
    background: url("input_types.png") no-repeat 0px -80px;
}
li.input_img {
    background: url("input_types.png") no-repeat 0px -100px;
}
li.input_fn {
    background: url("input_types.png") no-repeat 0px -120px;
}
li.input_vary {
    background: url("input_types.png") no-repeat 0px -140px;
}
li.input_time {
    background: url("input_types.png") no-repeat 0px -160px;
}
li.input_func {
    background: url("input_types.png") no-repeat 0px -180px;
}
li.input_list {
    background: url("input_types.png") no-repeat 0px -200px;
}
li.input_array {
    background: url("input_types.png") no-repeat 0px -220px;
}
li.input_dict {
    background: url("input_types.png") no-repeat 0px -240px;
}
li.input_obj {
    background: url("input_types.png") no-repeat 0px -260px;
}
li.compat_very {
    background: url("input_types.png") no-repeat 0px -580px;
    color: #007f00;
}
li.compat_semi {
    background: url("input_types.png") no-repeat 0px -600px;
    color: #7f7f00;
}
li.compat_not {
    background: url("input_types.png") no-repeat 0px -620px;
    color: #7f0000;
}
li.rec_very {
    background: url("input_types.png") no-repeat 0px -520px;
    color: #007f00;
}
li.rec_semi {
    background: url("input_types.png") no-repeat 0px -540px;
    color: #7f7f00;
}
li.rec_not {
    background: url("input_types.png") no-repeat 0px -560px;
    color: #7f0000;
}
li.compat_very, li.compat_semi, li.compat_not, li.rec_very, li.rec_semi, li.rec_not {
    font-weight: bold;
}
.command .command {
    background: #f7efdf;
}