body {
    background: #f7efdf;
    font-family: sans-serif;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
}
p {
    display: inline;
}
div.command {
    border: 5px solid white;
    border-radius: 12px;
    background: #fffbf3;
    padding: 5px;
    margin-bottom: 15px;
}
div.command pre {
    margin: 0px;
}
div.command ul {
    padding: 0px;
}
div.command li {
    /*padding-left: 40px;*/
    /*list-style: none;*/
    margin: 0;
    min-height: 20px;
    vertical-align: top;
    line-height: 20px;
}
div#header {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
    background-color: #3f3f3f;
    border: #0f0f0f solid 5px;
    border-radius: 7px;
    color: #fff;
}
div#head-left {
    width: 50%;
    height: 40px;
    left: 0px;
    display: inline-block;
    vertical-align: middle;
}
div#head-right {
    width: 50%;
    height: 40px;
    max-height: 40px;
    right: 0px;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    overflow-y: auto;
}
div#head-right p, div#head-right a {
    line-height: 40px;
}
div#head-right a:link {
    color: #1fdfef
}
div#head-right a:visited {
    color: #ef1fdf
}
div#head-right a:hover {
    color: #3feff7
}
div#head-right a:active {
    color: #ef1f1f
}
div#header h1 {
    margin: 0px;
}
li.input_int {
    list-style: url("input_types/tile000.png") inside;
}
li.input_float {
    list-style: url("input_types/tile003.png") inside;
}
li.input_str {
    list-style: url("input_types/tile002.png") inside;
}
li.input_bool {
    list-style: url("input_types/tile001.png") inside;
}
li.input_b64 {
    list-style: url("input_types/tile004.png") inside;
}
li.input_img {
    list-style: url("input_types/tile005.png") inside;
}
li.input_fn {
    list-style: url("input_types/tile006.png") inside;
}
li.input_vary {
    list-style: url("input_types/tile007.png") inside;
}
li.input_time {
    list-style: url("input_types/tile008.png") inside;
}
li.input_func {
    list-style: url("input_types/tile009.png") inside;
}
li.input_list {
    list-style: url("input_types/tile010.png") inside;
}
li.input_array {
    list-style: url("input_types/tile011.png") inside;
}
li.input_dict {
    list-style: url("input_types/tile012.png") inside;
}
li.input_obj {
    list-style: url("input_types/tile013.png") inside;
}
li.compat_very {
    list-style: url("input_types/tile029.png") inside;
    color: #007f00;
}
li.compat_semi {
    list-style: url("input_types/tile030.png") inside;
    color: #7f7f00;
}
li.compat_not {
    list-style: url("input_types/tile031.png") inside;
    color: #7f0000;
}
li.rec_very {
    list-style: url("input_types/tile026.png") inside;
    color: #007f00;
}
li.rec_semi {
    list-style: url("input_types/tile027.png") inside;
    color: #7f7f00;
}
li.rec_not {
    list-style: url("input_types/tile028.png") inside;
    color: #7f0000;
}
li.compat_very, li.compat_semi, li.compat_not, li.rec_very, li.rec_semi, li.rec_not {
    font-weight: bold;
}
.command .command {
    background: #f7efdf;
}